@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030303;
  --foreground: #fafafa;
}

html {
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* subtle grid for marketing */
.bg-grid {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 48px 48px;
}
